[2013-09-10 19:58] stefanpenner opened #6 "CI should run."

[2013-09-10 19:58] stefanpenner opened #7 "I18n ?"

[2013-09-13 03:58] wycats opened #8 "Irregular singularization is broken"
Originally reported at emberjs/data#1282

[2013-09-13 05:12] ghempton opened #9 "Dist no longer created"
After pulling the latest from master, running `bundle exec rake dist` no longer creates a distribution. Haven't had time to dig any deeper.

[2013-09-14 03:52] #8 closed, assigned to nobody

[2013-10-08 21:06] #9 closed, assigned to nobody

[2013-10-21 10:52] OiNutter opened #16 "Irregular camel cased words don't get rules applied."
I've been investigating https://github.com/emberjs/data/issues/1447 and have narrowed the issue down to only applying to camel cased words. It would appear to be due to the lower casing of a word before checking for matching rules.

I have added a unit test to the test suite on my fork of the ember data repository but I don't know if you'd prefer the test to be submitted to that repository or this

[2013-10-31 13:50] #16 closed, assigned to nobody

[2013-11-07 15:36] ebryn opened #18 "pluralize handlebars helper"
could be as easy as:

[code]

[2013-11-07 15:38] stefanpenner opened #19 "publish the inflector to bower."

[2013-11-07 15:39] stefanpenner opened #20 "maybe upgrade to node build tools"

[2013-12-07 22:04] Kerrick opened #21 "No support for camelCased uncountable rules."
[JSFiddle demo of the issue](http://jsfiddle.net/Kerrick/F2rrp/)

I can use `Ember.Inflector.inflector.uncountable` to add a word such as `'criteria'` so that Ember's Inflector knows `'criteria'` is both the plural and singular form. After I do so, `Ember.String.singularize('criteria')` returns `'criteria'`.

However, I cannot do the same for a word that is camel-cased, such as `'myCriteria'`. Whe

[2013-12-17 03:55] #21 closed, assigned to nobody

[2013-12-17 03:59] #6 closed, assigned to nobody

[2014-01-17 18:20] brian-gates opened #23 "Lens model save yields "No model was found for 'len'""
I'm not sure whether this is a bug in the logic for the inflector or within extractUpdateRecord's improper calling of singularize.

[code]

If it's intended for singularize to properly handle already singularized words, I believe the logic for isIrregular to be insufficient.  It only checks for irregularInverse for the 'lens' key, but it contains {lenses: 'lens'} and therefore proceeds with standa

[2014-06-17 17:59] kbullaughey opened #25 "Any plan to automatically support underscore and camelcase versions?"
I have found that I need to separately declare rules for camelCase and underscore versions of phrases. For example:

[code]

Particularly given Ember usually gracefully takes care of conversion between camelCase and underscore versions of classes, it seems like it would be helpful not to need to declare both:

[code]

I haven't checked what rails does, maybe this feature is absent for compatibilit

[2014-07-14 16:22] stefanpenner opened #27 "project diverged from ember-data's copy"
during ember-data's es6ification this project was forgotten, now it is tricky to propagate changes/fixes from the source project to it being vendored in ember-data
- [x] es6ification

cc @fivetanely

[2014-07-17 15:08] #23 closed, assigned to stefanpenner

[2014-07-17 15:08] stefanpenner opened #30 "cache inflections"

[2014-07-17 16:24] fivetanley opened #31 "support Ember.String.humanize"
https://github.com/emberjs/website/issues/1288

[2014-07-17 17:45] fivetanley opened #32 "consider pulling in a 3rd party lib to do all the hard work for us"
And then just set up stuff on prototypes and Ember.String

Something like https://github.com/dreamerslab/node.inflection/ maybe?

[2014-07-17 17:49] #32 closed, assigned to nobody

[2014-07-17 22:57] #20 closed, assigned to nobody

[2014-07-18 15:23] #31 closed, assigned to fivetanley

[2014-07-18 15:33] stefanpenner opened #34 "build tooling crashes on syntax-error"
using ember-cli (like we do in ember) corrects this problem, and also uses a faster/better watcher and exposes a lovely express server for redirects (https://github.com/emberjs/ember.js/blob/master/server/index.js)

cc @fivetanley

[2014-07-18 17:23] #30 closed, assigned to nobody

[2014-07-24 15:09] #27 closed, assigned to nobody

[2014-07-24 15:09] #34 closed, assigned to nobody

[2014-07-28 03:50] fivetanley opened #39 "defeatureify / prod builds"
Need this in the brocfile for people who use this standalone. Ember data should do it once my pull request there makes it in.

[2014-07-31 18:22] ppcano opened #40 "Not working with latest `loader.js`"
Because of the project folder structure, the transpiled amd output will not work with the current [loader.js#master](https://github.com/stefanpenner/loader.js) or the current [ember/loader](https://github.com/emberjs/ember.js/tree/master/packages/loader) version.

The workable loader must implement:

[code]

But this change does not work for other ember dependencies as {backburner,rsvp,router.js,r

[2014-08-17 22:14] #18 closed, assigned to nobody

[2014-08-20 06:56] #7 closed, assigned to nobody

[2014-08-27 14:42] stefanpenner opened #44 "release as NPM module"

[2014-08-27 14:42] stefanpenner opened #45 "use new transpiler"
like RSVP/backburner etc.

[2014-08-27 14:43] #25 closed, assigned to nobody

[2014-10-08 17:03] calvinmetcalf opened #48 "use inflector-core"
this involves me figuring out how interproject dependencies work

[2014-10-29 20:28] mattmarcum opened #49 "Ember addon support"
Would it be possible to get an ember-addon version of this?  The other issue for creating a bower package would be helpful too, but an ember-addon would be great!

[2014-12-02 02:52] #45 closed, assigned to nobody

[2014-12-02 16:19] #49 closed, assigned to nobody

[2014-12-02 16:20] #44 closed, assigned to nobody

[2014-12-02 16:21] fivetanley opened #53 "see if we can figure out source maps for ember-cli"
The sourcemap is already been generated, so it should just be an issue of getting broccoli to import it in the right place...

We may also need to update the broccoli config to use a different filepath for sourceURL

[2014-12-02 16:39] mattmarcum opened #54 "two minor issues with ember-cli-addon"
1) the bower package includes a source map line that will cause a browser fetch that fails. Ember-cli is not going to be serving up this file, not sure what this would do in production yet.

//# sourceMappingURL=ember-inflector.js.map

2) the directory structure under `node_modules/ember-inflector` contains a `lol` directory that mirrors the `bower_ember`  folder - I'm not sure if either folders a

[2014-12-13 15:53] #19 closed, assigned to nobody

[2014-12-17 21:58] jcope2013 opened #59 "Issue getting this addon working"
Versions on my systems

[code]

I followed the instructions on the first page

[code]

I then imported both ember-inflector.js, and ember-inflector.js.map to my brocfile, this didn't seem to be the cause of my issues as I was having the same issues before I imported them also

and none of the suggested solutions have been working, I am getting undefined when I do

[code]

and ember-inflector can't

[2014-12-17 22:46] stefanpenner opened #60 "ember-addon shouldn't use bower rather build via raw es6"

[2015-01-13 15:01] davidmaitland commented on #59
Did you ever figure this one out? I'm having the same issue now. I have a feeling that the module is inherently broken.

[2015-01-13 15:23] stefanpenner commented on #59
the current way this is distributed as an addon isn't ideal, as time permits we can get it up to snuff.

[2015-01-28 20:26] kbullaughey opened #61 "support dasherized multi-word names?"
When using ember-cli, it seems like it would be helpful to support the same inflection patterns for dasherized and undasherized names. Instead, I find myself doing the following:

    Ember.Inflector.inflector.uncountable('phrase-tones')
    Ember.Inflector.inflector.uncountable('phraseTones')

Of course, if I always wanted anything ending in `tones` to be uncountable, then I could just register t

[2015-01-28 20:29] stefanpenner commented on #61
https://github.com/stefanpenner/ember-inflector/pull/41/files seems to already do this?

[2015-01-28 21:14] kbullaughey commented on #61
Hm...

It works on a new instance, but I get weird behavior from the instance on `Ember.Inflector`:

![blue_moons](https://cloud.githubusercontent.com/assets/613650/5947081/a7c0fe58-a708-11e4-9e76-8cba1bf88578.png)

[2015-01-28 21:26] stefanpenner commented on #61
@kbullaughey do you have 2 verison of ember-inflector ?

[2015-01-28 21:45] kbullaughey commented on #61
Hm...seems I'm using the ember-data, whichever is packaged with ember-data 1.0.0-beta.14.1.

[2015-01-29 11:50] kbullaughey commented on #61
I added some tests to a branch in my forked copy. Here's [a diff](https://github.com/kbullaughey/ember-inflector/compare/stefanpenner:master...overriding_with_multiword_uncountable).

I get the following failures in testem:

    ember-inflector.unit: multiword uncountable basic s singularization rule
        ✘ failed
             expected blue_moons
             actual blue_moon
        ✘ failed

[2015-02-01 22:36] rwjblue opened #63 "Update to latest HTMLBars."
We do not export `Ember.HTMLBars.helper`.  See: https://github.com/emberjs/ember.js/blob/master/packages/ember-htmlbars/lib/main.js#L70-L79

https://github.com/stefanpenner/ember-inflector/blob/master/packages/ember-inflector/lib/helpers.js#L18-L20 needs to be:

[code]

[2015-02-11 22:15] vine77 opened #64 "Missing license"
This repository is missing a license file. I'm assuming it should be MIT...

[2015-02-11 22:47] #64 closed

[2015-02-11 23:24] #63 closed

[2015-02-12 11:46] igorT opened #67 "Singularizes 'meta' as 'metum'"
Of the things I expected to happen, this was not one of them. Not sure whether rails does the same thing? Does not seem very helpful

[2015-02-12 13:51] stefanpenner commented on #67
rails

`'meta'.pluralize = 'meta'`

[2015-02-12 13:56] stefanpenner commented on #67
although:

* https://github.com/stefanpenner/ember-inflector/blob/master/packages/ember-inflector/lib/system/inflections.js#L30
* https://github.com/rails/rails/blob/master/activesupport/lib/active_support/inflections.rb#L36

[2015-02-27 14:34] fsmanuel commented on #60
@stefanpenner you mean the default ember-addon skeleton and all the code under `addon`?

[2015-02-27 16:06] stefanpenner commented on #60
ya

[2015-03-15 20:01] fsmanuel commented on #67
rails

`'meta'.singularize => 'metum'`

[2015-03-15 20:05] fsmanuel commented on #59
try
`Ember.Inflector.inflector.pluralize("taco");`

[2015-03-15 22:39] #67 closed

[2015-03-16 00:06] #59 closed

[2015-03-19 15:31] #60 closed

[2015-03-23 21:12] stefanpenner opened #72 "use ember-try once its ready"

[2015-03-23 22:12] #54 closed

[2015-03-23 22:12] stefanpenner commented on #54
should be addresed by the new addon

[2015-03-23 22:12] stefanpenner commented on #48
i am still extremely +1 on this.

[2015-03-23 22:14] stefanpenner commented on #48
to summarize:

ember-inflector:
* default inflections we consider as part of ember-data (ones we include already)
* ember-addon support
* the tests as an addon
* the tests that test the default set of inflections

inflector-core
* the inflection engine
* the tests for the inflection engine

[2015-03-24 03:11] elwayman02 commented on #48
I want to start looking into this, but it might be a couple weeks, since I'm going on vacation soon.  Getting it on my radar, though.

[2015-03-24 15:59] jrhe opened #73 "Unexpected reserved word (loader problems?)"
When upgrading to the latest version I get the following error. I think it might be to do with the loader like in #40.

[code]

[2015-03-24 16:03] stefanpenner commented on #73
it ships es6 code, it first needs to be transpiled. If included as an addon into an modern ember-cli based app, this should all just work out of the box.

[2015-03-24 16:05] jrhe commented on #73
Wow, super fast reply Stef!

For more context, this is when using ember-cli 0.1.5 but the error also occurred when I updated to the latest ember-cli (0.2.1).

[2015-03-24 16:07] stefanpenner commented on #73
ya that should work, we will need to dig in.

[2015-03-25 13:36] jrhe commented on #73
Anyway I can help debug this?

[2015-03-25 13:38] stefanpenner commented on #73
@jrhe sure, likely by debugging it. I unfortunately can't give you any further instructions, as I haven't had a chance to debug it myself :trollface:

[2015-03-25 18:45] stefanpenner commented on #73
fixed on master https://github.com/stefanpenner/ember-inflector/commit/129d1d6fc14f54d1486ee5fd72f0c698d99bf904

pending some NPM issues, will release a new versino

[2015-03-25 19:03] stefanpenner commented on #73
published as 1.6

[2015-03-25 19:03] #73 closed

[2015-03-25 19:06] stefanpenner opened #74 "helpers are not accessible to normal add-on consumers"
- [ ] ember-data should no longer auto-include these helpers
  * basically its a bug in this repo that they are included auto-matically
  * i'll release 2.x with that fixed
  * @bmac we should coordinate on another ember-inflector / ember-data release
- [ ] we should offer the helpers as an idiomatic ember-addon normally does. (although as they are non-dasherized, via an initializer)

[2015-03-26 18:45] jrhe opened #75 "Pluralize no longer works with the new register-helper method for Handlebars"
Helpers registered using `Ember.Handlebars.helper` receive a number of positional args instead of an array of arguments as we are now expecting. This results in pluralize helper receiving count as its params argument rather than an array of `[count, word]`.

https://github.com/stefanpenner/ember-inflector/blob/5e80bac26f6bc7ff7fc50386f3bee08468c601e8/addon/lib/helpers.js#L43

I have attempted to p

[2015-03-26 19:27] stefanpenner commented on #75
which version of ember are you using?

[2015-03-26 20:54] jrhe commented on #75
1.9.1

[2015-04-22 12:56] artych opened #77 "Wrong irregular pluralization with namespaced model name"

[2015-04-22 15:02] stefanpenner commented on #77
i think this issue was valid, why is it closed?

[2015-04-22 15:18] artych commented on #77
I thought it is more Ember.String issue
[code]

but yes it is valid for Inflector too
[code]

[2015-04-22 18:38] stefanpenner commented on #77
Yup this is a bug

[2015-04-30 18:46] ofbriggs commented on #77
I've submitted a PR that should fix this: #78

[2015-04-30 18:49] #77 closed

[2015-05-21 22:10] ultimatedelman opened #79 "`singularize()` incorrectly lops off the beginning of dasherized, irregularly pluralized words"
This is a problem when you have a model named something like "in-common-person", where in place of "person", any member of the [irregularPairs](https://github.com/stefanpenner/ember-inflector/blob/e19798c3759f2e46bc2b9ce7de36b85397b5d824/addon/lib/system/inflections.js#L56) list is at the end of the dasherized list.

To repro:

    Ember.String.singularize('in-common-person') // 'common-person'

[2015-05-21 22:14] stefanpenner commented on #79
@ofbriggs got any free time to take a look?

[2015-05-21 22:15] ofbriggs commented on #79
I'll investigate...

[2015-05-21 22:20] stefanpenner commented on #79
@ofbriggs thank you kindly :)

[2015-05-21 22:25] ultimatedelman commented on #79
I believe the error is (here)[https://github.com/stefanpenner/ember-inflector/blob/33825d61dc3a52c3aaef5b1f02fb179889531a98/addon/lib/system/inflector.js#L271-L279]. In the first flow, it's only returning the last part where as in the second flow it's appending the beginning part as well.

[2015-05-21 22:39] ofbriggs commented on #79
@stefanpenner of course :)
@ultimatedelman I'm having trouble reproducing the cut. The area you're referring to appears valid, because that case is for a hard match. Can you help me out and give me a failing case?

[2015-05-21 22:41] ultimatedelman commented on #79
@ofbriggs - did you try the examples I gave in the ticket?

    Ember.String.singularize('in-common-person') // 'commonPerson' instead of 'inCommonPerson'

[2015-05-21 22:47] ultimatedelman commented on #79
@ofbriggs - I managed to cobble together a [working demo](http://emberjs.jsbin.com/kigahoroge/1/edit?html,js,output)

[2015-05-21 22:54] ofbriggs commented on #79
@ultimatedelman I tried the examples, for me running the functions yield:
[code]
The ember.js in the demo is not using an up-to-date inflector it seems.

[2015-05-21 22:58] nathanhammond commented on #79
Neither is Canary. I can't reproduce this inside of ember-inflector's tests, but can here: http://emberjs.jsbin.com/faguwohagu/1/edit?html,js,output

[2015-05-21 23:02] nathanhammond commented on #79
Okay, this is an issue that existed previously, was present in Ember Data 1.0-beta16.1, and has since been updated in beta 17. Updated the JSBin, and now it works. This is safe to close.

[2015-05-21 23:03] ofbriggs commented on #79
Thanks @nathanhammond :)

[2015-05-21 23:04] #79 closed

[2015-05-21 23:05] stefanpenner commented on #79
thanks all for digging into this :)

[2015-05-26 07:39] pixelhandler commented on #74
Any update on using ember-inflector in ember-cli (without Ember Data)?

[2015-05-26 16:36] stefanpenner commented on #74
it should "just work"

[2015-05-28 19:03] southpolesteve opened #81 "Irregular Singularize of "Drives""
Not sure if this is the proper place to report, but ran into this issue today:

[code]

I'm also happy to take a crack at fixing this, but just wanted to ensure this fix actually belongs upstream and not in the app itself

[2015-05-28 19:08] stefanpenner commented on #81
some context:

the goal of this project is to

* provide the infrastructure for basic inflection
* provide default inflection rules that match those of ActiveSupport – which has frozen its inflection rules
* provide users the way to augment the base inflection rules.

[code]

So the solution is for your application to specify the preference using `inflector.irregular(x,y)`

[2015-05-28 19:09] #81 closed

[2015-05-28 19:09] southpolesteve commented on #81
Ah ok. That makes sense. Thanks for the quick reply!

[2015-05-28 19:10] stefanpenner commented on #81
no problem. It is in-fact strange, but english is a strange thing. :P

[2015-06-18 22:36] ultimatedelman opened #82 "`singularize()` incorrectly singularizes "alumnus""
`Ember.Inflector.inflector.singularize('alumnus'); // "alumnu"`

[2015-06-18 22:55] stefanpenner commented on #82
from the readme:

Rails has decided to freeze its default inflection rules, and to match parity so have we.

One can still add additional app specific inflections, see: https://github.com/stefanpenner/ember-inflector#usage for further examples of how one does this.

[2015-06-18 22:55] #82 closed

[2015-08-07 12:13] ryanjm commented on #75
I'm not including `ember-inflector` directly, but from what I can tell in the source code, it is being included by something else (I think?).

I'm getting the following deprecation warning:

[code]

And I believe it is pointing to this [line](https://github.com/stefanpenner/ember-inflector/blob/1440332cfa967e19ddb2e4a3a0531b4c7f22cbda/addon/lib/helpers/pluralize.js#L21).

Am I looking in the right

[2015-08-07 13:13] jcope2013 commented on #75
@ryanjm update ember data to 1.13.8, that is the problem, it needed a inflector dependency bump as it uses inflector

[2015-08-07 13:50] #75 closed

[2015-08-07 14:20] ryanjm commented on #75
Thanks @jcope2013. I just updated to `1.13.8` and still have the same issue. I'll dig into it more this weekend, but thanks for the direction.

[2015-08-08 05:27] ryanjm commented on #75
Just to document my progress incase anyone else runs into this. I've not been able to fix it yet. I've cleared cache / made sure everything is up to date. But it looks like [EmberTwiddle](http://ember-twiddle.com/) is having the same issue, even after updating it to `1.13.8` also. I think something else is missing.

[2015-08-10 08:52] adam-knights commented on #75
@stefanpenner I think maybe this should be re-opened (or a new issue made) - if I goto EmberTwiddle like @ryanjm and edit twiddle.json from `1.13.7` to be `1.13.8` for Ember data I see the exact same deprecation warnings on _registerHelper and makeBoundHelper as I get in my Ember CLI 1.13.7 with Ember 1.13.6 and Data 1.13.8

[2015-08-10 08:55] engwan commented on #75
I'm currently upgrading my app and trying to remove deprecations and I'm stuck at this too.

I'm also at Ember 1.13.6 and Ember data 1.13.8 like @adam-knights

[2015-08-10 11:44] jcope2013 commented on #75
changing it to http://builds.emberjs.com/tags/v1.13.8/ember-data.js makes it go away? can you try that?

[2015-08-10 12:11] adam-knights commented on #75
@jcope2013 Agreed - that url in twiddle makes the deprecations go away. So I downloaded both that file and the cdnjs one and compared to the one I've got locally from bower - my local file is an exact match of the cdnjs one, ie the one that causes the warnings on twiddle.

[2015-08-10 14:03] adam-knights commented on #75
So I guess the question is why is 1.13.8 of ember-data.js from either bower or cdnjs giving these warnings while the build tag file from emberjs.com file isn't?

[2015-08-10 14:23] jcope2013 commented on #75
@adam-knights can you file an issue on ember data? i have a feeling they published 1.13.7 as 1.13.8 or the wrong 1.13.8 on bower

[2015-08-10 14:34] adam-knights commented on #75
Submited issue as request https://github.com/emberjs/data/issues/3635

[2015-08-14 01:59] timiyay opened #85 "Regression for pluralization of 'price' in v1.9.0"
This morning, I attempted to upgrade my app to `ember-data` v1.13.9 which, in turn, upgraded `ember-inflector` to v1.9.0. This caused one of my model async relationships to fail, because `price` was incorrectly pluralized to `price`.

Previously, using `ember-data` v1.13.8 and `ember-inflector` v1.7.0, `price` was correctly pluralized to `prices`.

The symptom is that, when my model attempts to lo

[2015-08-14 03:09] stefanpenner commented on #85
the pluralization appears to be correct, just double checked against our reference implementation:

[code]

[2015-08-14 03:16] stefanpenner commented on #85
there really don't appear to be any relevant differences between 1.7 and 1.9...

[2015-08-14 03:18] stefanpenner commented on #85
@ofbriggs got any free moments to dig into this?

[2015-08-14 03:20] timiyay commented on #85
@stefanpenner Thanks for the reply.

For extra context: I'm using `ember-mirage` v0.1.6 to provide a dummy backend to my app. Since I was able to repro the issue directly from `ember-inflector`, I concluded that `ember-mirage` wasn't to blame. I'll need to dig into this possibility, though, as it may be overriding my custom inflection initializer?

[2015-08-14 08:37] adam-knights commented on #85
@stefanpenner I just posted this is ember data - price is getting hit by a rule on `rice` when I debug through.

[2015-08-14 08:44] adam-knights commented on #85
Looking at the for loop where price gets hit with price I'd guess this did it https://github.com/stefanpenner/ember-inflector/commit/2e9bd63da79a9854a5e1ad2a94ea0b1d22f9707c

[2015-08-14 08:48] adam-knights commented on #85
Changing lowercase.match(rule+"$") to something like lowercase.match("^"+rule+"$") might fix this, I'm at work else would submit a pr.

[2015-08-14 11:26] miguelcobain commented on #85
https://github.com/stefanpenner/ember-inflector/compare/v1.7.0...v1.9.0

[2015-08-14 11:29] adam-knights commented on #85
Ember data went from 1.6.2 to 1.90 in it's package.json https://github.com/emberjs/data/pull/3623/files

[2015-08-14 16:16] stefanpenner commented on #85
Yes this would make sense. there where some fixes (that appear to have introduced a bug) prior to 1.7

[2015-08-14 17:51] ofbriggs commented on #85
It's this commit #83, that introduced the regression, uncountable matching was changed to match subwords instead of complete words which explains why the rule `rice` is getting hit. I'm going to look into  this more this weekend and update.

[2015-08-14 17:51] stefanpenner commented on #85
thanks @ofbriggs you rock!

[2015-08-15 19:57] ofbriggs commented on #85
I've submitted #86 to correct this behaviour.

[2015-08-16 03:53] ofbriggs commented on #85
Closing issue now that #86 is in master.

[2015-08-16 03:53] #85 closed

[2015-08-16 15:43] stefanpenner commented on #85
:)

[2015-08-16 23:14] timiyay commented on #85
Thanks folks, really appreciate the fix.

[2015-08-20 21:33] grapho opened #87 "singular and plural helpers are being registered the old way"
it appears that the util for selecting how the helpers are registered is not working properly for me

https://github.com/stefanpenner/ember-inflector/blob/master/addon/lib/utils/make-helper.js

I am getting the deprecated version of the helper `makeBoundHelper`

Though I cant seem to find what version of the inflector i am running?

I am on ember 1.13.7, ember-data 1.13.8, and ember-cli 1.13.8

[2015-08-20 21:40] jcope2013 commented on #87
bump to ember-data 1.13.9 will fix it

[2015-08-20 21:59] grapho commented on #87
k thanks! i suppose we can close this then :false-alarm:

[2015-08-20 21:59] #87 closed

[2015-10-22 07:58] corrspt opened #91 "Pluralizing the word 'gas'"
Hi!

I've been working on an Ember Project (EmberCLI 1.13.8, Ember 2.0, Ember Data 2.0), and I've created a model 'gas'.

When using ember-data to query the store. `this.store.query('gas')` the url that's built is `/api/gas`instead of what I expected, which would be `/api/gases`. I've created a custom adapter to deal with the situation, but I think this might be a problem with the ember-inflector.

[2015-10-22 08:05] stefanpenner commented on #91
The default set of inflection aim for 1:1 with those from rails. If it handles gas differently we should adjust, otherwise the inflector has a public API for adding/remove the default inflection rules.

[2015-10-22 08:22] corrspt commented on #91
Hey, thanks for the very quick reply.

I'm not a Rails guy, not sure how to check the Inflection for Rails to see where the problem is, sorry :(

Anyway, I've looked at the [unit tests](https://github.com/stefanpenner/ember-inflector/blob/master/tests/unit/inflector-test.js) and it seems that you add "generic rules" for pluralization, and not for specific words.

[code]

Would I have to do somethi

[2015-10-22 08:30] stefanpenner commented on #91
I'm about to get on 17h of flights. I will attempt to respond when I get settled back home.

Maybe @ofbriggs has some spare cycles.

It seems like we have some missing docs here...

[2015-10-22 08:35] corrspt commented on #91
Oh, that's a really long flight! Hope you can get some rest!

Thanks for the very quick reply. I'll wait for feedback then.

If my guess from the tests is correct I can try to setup a PR with some documentation, but if anyone on the team has some guidelines for me, I'm here to help.

[2015-10-22 09:31] corrspt commented on #91
I've tried to create the initializer like the following:

[code]

And it Kind of works, it's not making the request to /gases instead of /gas but when the data comes in, it read the `type` attribute as `gases` and it tries to singularize the name, it fails to `gase`.
I've managed to see that the Inflector instance that my initializer is adding the plural/singular rule is not the same when the time

[2015-10-22 10:54] fsmanuel commented on #91
@corrspt try `Ember.Inflector.inflector` instead of `import Inflector from 'ember-inflector'`
that should be the instance ember data uses.

From the docs:
http://guides.emberjs.com/v1.10.0/models/the-rest-adapter/#toc_pluralization-customization

[code]

[2015-10-22 11:08] corrspt commented on #91
@fsmanuel Thanks for pitching in. I'll report back as soon as possible with an update.

[2015-10-22 11:40] corrspt commented on #91
@fsmanuel Thanks for pitching in, I wasn't able to solve my problem with just that, but you led in a direction that seems to have solved the issue for now:

I've had to do the following:

[code]

This makes my queries to the correct endpoints (/gases) but when ember-data reads the content it blows up like this:

[code]

[code]

But if I add a custom serializer (to override the default which uses e

[2015-10-22 12:12] fsmanuel commented on #91
Seems like a hack or bug to me.
Will have a look at it later.

[2015-10-22 12:39] corrspt commented on #91
Thanks for helping!

[2015-10-22 16:22] ofbriggs commented on #91
I've forked @corrspt's fiddle to use `Ember.Inflector.inflector.irregular(...)` as @fsmanuel suggested and it looks like it is working as expected. If you open the console you see that there is a call to /gases.

http://ember-twiddle.com/f33d67be2d6317a7695a

[2015-10-22 16:28] corrspt commented on #91
Hi @ofbriggs thanks for pitching in!

Doing what @fsmanuel suggested did indeed got me past the the wrong endpoint query. But when the backend returned a JSONAPI response with type: 'gases' then ember-data would blow up at the `_pushInternalModel` method.

Because of that I had to override the serializer to not use the default inflector for 'gas' and use my exception. By doing this, I got things w

[2015-10-22 16:39] ofbriggs commented on #91
Thanks for the extra information @corrspt :) That's quite odd that ED sometimes ignores the added irregular rules, I'll look into it why this is...

[2015-10-22 16:42] corrspt commented on #91
I might have made a mistake somewhere else which leads to this situation. But I'm not sure where to find. Thanks for helping out, if you need anything else, do ask!

[2015-10-23 05:40] michaelrkn opened #92 "Add inflector generator"
Currently, if a user wants to add a rule to the inflector, they have no guidance about where to do so. As a result, some people put their rules in the corresponding models, others in an initializer, and only [@rwjblue does it correctly](https://github.com/emberjs/guides/pull/899#issuecomment-149340100).

We're [adding documentation to the Guides encouraging @rwjblue's approach](https://github.com/

[2015-10-23 07:22] corrspt commented on #92
Hi,

I did try the solution proposed in that PR you linked to, but it didn't work for me.

In issue #91 I had to add a serializer in addition to the initializer so that everything would work. Any thoughts on that situation?

Also, would that "custom-inflector-rules.js" only need to export the `inflector` variable to work?

[2015-10-23 09:31] fsmanuel commented on #91
@corrspt can you post the server payload?

[2015-10-23 09:55] corrspt commented on #91
Sure, this is the result of asking /get/gases

[code]

[2015-10-23 10:03] corrspt commented on #92
I maybe doing something else wrong, but if I remove my initializer and my serializer and just add your suggestion like this:

[code]

And
[code]

Then the request is made to `/get/gas` instead of `/gas/gases`

[2015-10-23 10:06] fsmanuel commented on #92
what about
[code]
instead of
[code]

[2015-10-23 10:17] corrspt commented on #92
@fsmanuel  Same result.

I tried a console.log on that file (custom-inflector-rules) and it's being executed.
If I console.log(inflector) in that file I get:

[code]
And this object inside the "rules" property does have the "gases" in the irregular property
![gas](https://cloud.githubusercontent.com/assets/789263/10690083/697d820a-7977-11e5-95a2-35c70f8a25c8.png)

But when the page is loaded if I

[2015-10-23 10:21] fsmanuel commented on #91
@corrspt can you give me access to the repo?

[2015-10-23 10:25] fsmanuel commented on #91
@corrspt lets move the conversation to slack

[2015-10-23 15:14] michaelrkn commented on #92
@corrspt did you manage to get it working?

@fsmanuel `ember g inflections` sounds good to me. As for the default blueprint, maybe @stefanpenner or @rwjblue has an opinion on the matter?

[2015-10-23 15:31] corrspt commented on #92
@michaelrkn, with the help of @fsmanuel we found out that apparently there's a problem with [ember data](https://github.com/emberjs/data/issues/3881).

I've only managed to solve my problem by using a combination of initializer and serializer as I stated in issue #91.

[2015-10-23 15:42] fsmanuel commented on #92
@michaelrkn I guess we don't need the default blueprint.

[2015-10-27 18:27] elwayman02 commented on #48
Seems like this fell waaaaay off my radar...don't wait on me if someone has bandwidth to pick this up.

[2015-11-12 15:56] Kallin opened #93 "makeBoundHelper deprecated"
[code]

I'm seeing this deprecation warning that looks like it's coming from https://github.com/stefanpenner/ember-inflector/blob/bdb4165206c9fea9b27b3bb961d9b4885cee1a6c/addon/lib/utils/make-helper.js .

I'm not actually using inflector directly, but it's being pulled in from ember-data.

[2015-11-14 17:27] fivetanley commented on #93
What version of Ember Data are you using? I think this should be fixed.

[2015-12-03 12:07] wuron opened #94 "Pluralize helper does not work with float values between 1 and 2"
`{{pluralize 1.5 "meter"}}` results in `1.5 meter`.

[2015-12-07 12:16] adam-knights opened #95 "Irregular rule for unitOfMeasure to unitsOfMeasure does not work"
I tried adding

    inflector.irregular('unitOfMeasure', 'unitsOfMeasure');

To my app and it doesn't work, it hits /api/unitOfMeasure, it should now be hitting /api/unitsOfMeasure

I created a unit test in /tests/unit/inflector-test.js that fails on both asserts in latest master:

[code]

-----
I had a quick debug, it seems to find the irregular rule ok and populate `substitution` in the for loop

[2015-12-08 16:03] #94 closed

[2016-01-18 10:03] adam-knights commented on #95
The above research stemmed from me trying to define plurals in DS.RESTAdapter.extend, and this working for all but unitOfMeasure: unitsOfMeasure. I'm guessing this feeds into ember inflector?

[2016-01-18 10:06] adam-knights commented on #95
@fivetanley Any thoughts on whether this is a bug that would be affecting me defining this in Ember Data, or should I go back to Ember data and post this there?

[2016-01-18 14:22] stefanpenner commented on #95
We aim todo whatever the rails inflector does, if someone wants to check we can decide if this is a bug or not.

[2016-01-18 14:58] fsmanuel commented on #95
[code]

[2016-01-18 15:00] adam-knights commented on #95
@fsmanuel thats with an irregular rule defined?

[2016-01-18 15:07] fsmanuel commented on #95
@adam-knights `rails c` i have nothing defined. It's just what the rails inflector does.

[2016-01-18 15:09] fsmanuel commented on #95
@adam-knights have you seen https://github.com/emberjs/data/issues/3802

[2016-01-18 15:09] fsmanuel commented on #95
and here https://github.com/emberjs/data/pull/3888#issuecomment-164786076

[2016-01-18 15:11] fsmanuel commented on #95
@adam-knights what version of ember-data are you using. still seems to be a problem...

[2016-01-18 15:13] adam-knights commented on #95
I'm stuck on 1.13.15 currently, happy to revisit/test this when we are able to move upto a newer release

[2016-01-18 15:15] fsmanuel commented on #95
which adapter?

[2016-01-18 15:17] adam-knights commented on #95
RESTAdapter, so for plural of this example I would do:

    export default DS.RESTAdapter.extend(DataAdapterMixin, {
      plurals: {
        unitOfMeasure: 'unitsOfMeasure'
      }
    });

[2016-01-18 16:36] fsmanuel commented on #95
@adam-knights if the problem only occurs with the path you can patch `pathForType`
https://github.com/emberjs/data/blob/v1.13.15/packages/ember-data/lib/adapters/build-url-mixin.js#L319

But i guess the next will be the payload...

[2016-01-20 18:20] IsaiahJTurner opened #99 "The Word "Podium""
Podium is singular but singularizes to podia (because of words like bacteria -> bacterium I presume).

[2016-01-20 18:25] stefanpenner commented on #99
We mimic the rules in rails, if they offer this variant we can offer it. Otherwise the Public API allows adding custom rules.

[2016-01-22 08:14] pwfisher opened #100 "Expected a provider named 'null' , did you forget to register it?"
Using ember inflector within an addon, we get this cryptic error. Does it mean anything to you?

[code]

[2016-01-22 16:39] stefanpenner commented on #100
I don't believe we have code that could cause this.

[2016-01-27 18:53] billpull opened #101 "Hero to Heroes"

[2016-01-27 19:11] stefanpenner commented on #101
what does the rails inflector do?

[2016-01-27 19:16] fivetanley commented on #101
Rails does not include the e:

[code]

[2016-01-27 19:16] #101 closed

[2016-01-27 19:16] fivetanley commented on #101
We do whatever rails does basically. You can always add your own custom inflection if you prefer the other spelling.

[2016-02-09 17:33] kategengler commented on #72
This addon _is_ using `ember-try`, so this can be closed.

[2016-02-09 19:15] #72 closed

[2016-02-09 19:15] fivetanley commented on #72
thanks @kategengler !

[2016-02-09 19:18] stefanpenner commented on #72
;)::):)

[2016-02-09 19:29] fivetanley opened #102 ""criteria" pluralized should be "criteria""
From my terminal:

[code]

Current Ember Inflector pluralizes to `criterium`.

[2016-03-05 22:30] wolodarsky commented on #102
Ran into this one today.  Current version 1.9.4 correctly pluralizes to ```criteria```.

Though it should singularize to ```criterion```.

Depends on if the goal is correctness or matching behavior in ```ActiveSupport::Inflector``` for compatibility with Rails.

An issue was opened for a while back regarding this in rails/rails/#11876

Happy to submit a PR if we want to change this.

[2016-03-05 22:32] fivetanley commented on #102
a PR would be great. We defer to Rails's ActiveSupport::Inflector for all inflection rules, so "criteria" is what it should be here. If Rails changes it we will also change it.

[2016-03-05 22:33] fivetanley commented on #100
If you can create a new project (via `ember new`) that demonstrates this error, please feel free to open a new issue. We don't have any code like this in ember inflector that would throw such an error.

[2016-03-05 22:33] #100 closed

[2016-03-06 04:36] wolodarsky commented on #102
If matching Rails, I think we're in good shape:
[code]

[code]
I'll continue to override.  I believe this issue can be closed.

Thanks!

[2016-03-06 04:48] #102 closed

[2016-03-07 21:52] HeroicEric opened #103 "1.9.2 showing as latest release"
The latest tag (1.9.4) is not being displayed as the latest release on the [releases](https://github.com/stefanpenner/ember-inflector/releases) page.

![](https://dl.dropboxusercontent.com/spa/ibxdnt7kjmsxult/6m3wa8ie.png)

[2016-04-22 00:16] pwfisher commented on #100
This appears to have been an `ember-simple-auth` issue. Sorry.
https://github.com/simplabs/ember-simple-auth/issues/345

[2016-07-18 01:15] escobera commented on #95
@stefanpenner any new on this one?
I'm still affected by this.
If confirmed as a bug I can help come up with the solution, seems pretty straightforward.

[2016-07-18 06:41] fsmanuel commented on #95
@escobera which version of ember, ember-data and ember-inflector are you using?

[2016-07-18 07:15] adam-knights commented on #95
Here is a twiddle. In adapters/application.js the plural is defined but not picked up as it continues to try to hit the wrong API. https://ember-twiddle.com/7a1de453247619a45f3b39915ab3be90?fileTreeShown=false&numColumns=2&openFiles=routes.application.js%2C

[2016-07-18 07:37] fsmanuel commented on #95
I'm on it

[2016-07-19 02:05] #95 closed

[2016-07-19 02:15] olivia commented on #103
I've added a release for the latest tag (1.9.5), thanks @HeroicEric!

[2016-07-19 02:15] #103 closed

[2016-07-19 06:55] fsmanuel commented on #95
@adam-knights and @escobera can you try the new version? I guess we have to inform the other addons about the fix.

[2016-07-19 08:14] adam-knights commented on #95
@fsmanuel thanks - Ember data is ^1.9.4, so when I get a chance i'll clear out my node/bower folders to pull in 1.9.5 and see

[2016-08-03 21:20] blimmer opened #107 ""Bonus" inflection issue"
Ember 2.7 ([twiddle](https://ember-twiddle.com/f945daccb6d0e97b8879df1092a68c32?openFiles=templates.application.hbs%2C)):
[code]

From rails console:
[code]

It wasn't immediately clear where to start - are there docs on how to make tweaks to the default rules?

EDIT:
jk, fixed and PR opened.

[2016-08-03 22:56] #107 closed

[2016-08-16 06:00] Koka opened #109 "Problem with word "explosives""
Hi, I've found incorrect and inconsistent handling of `explosives` word - see the following example:

[code]

[2016-08-16 06:36] fsmanuel commented on #109
@Koka the inconsistency is a bug

Rails:
[code]

[2016-10-11 18:38] escobera opened #110 "Irregular inflector behavior"
Hello there,

I have these rules (among others) in my app.

[code]
With this config I get this result:
![selection_006](https://cloud.githubusercontent.com/assets/9344/19283422/1da774fe-8fc8-11e6-9d05-79bf2ab6d8d4.png)

It seems the second irregular rule is never met, this [line](https://github.com/stefanpenner/ember-inflector/blob/master/addon/lib/system/inflector.js#L270) looks like the culprit.

[2016-10-13 15:23] oskarrough commented on #110
I'm hoping my issue is related. Here's a failed attempt to pluralize `human` as `humans`.

[code]

[2016-10-24 19:45] tomoguisuru commented on #110
I'm having a similar issue but with `uncountable`
The uncountable rule seems to be applied to anything that has settings in rather than just for the specific instance listed.

Example.
[code]

[code]

expected behavior
`settings` is uncountable but `bolo-setting` is countable

This is causing an issue when I do the following
[code]
which results in the following error message

`Error: Assertion Fa

[2016-11-08 02:10] graham-sportsmgmt opened #113 "ember-inflector not available in ember-cli generate"
I'm trying to use ember-inflector in my custom blueprint but it doesn't seem to be exposing the singularize and pluralize methods.  I have verified that ember-inflector is in package.json and node-modules.

Here is some test code I have at the top of my locals function:

[code]

It throws this error:

When I loop through the Inflector object I only get a 'name' property that has 'name0' through 'n

[2016-11-08 17:31] rwjblue opened #114 "Move to emberjs org?"
Since this is used by ember-data directly, should we move this to emberjs org (or ember-cli org)?

[2016-11-08 18:49] #114 closed

[2017-03-23 03:39] brunowego commented on #110
Yep, same issue here.

[code]

[2017-03-30 14:48] acaxon opened #119 "Method singularize error depending on the order of the irregular entries"
Using **ember 2.11.0** and **ember-data 2.11.0**.

My file **app/initializers/inflector.js**:

[code]
`singularize('repositorios-bens')` return `'repositorios-bem'` (**WRONG !!!**).

if i use the following (_repositorio-bem_ **before** _bem_):

[code]

`singularize('repositorios-bens')` return `'repositorios-bens'` (**RIGHT !!!**).

Hope to help making ember better and better.

Cheers,

Antonio.

[2017-05-28 03:15] lukemelia opened #122 "Expose helper behavior as an importable function"
I started using this library after a while of not using it and was surprised that I couldn't get similar output from

[code]

and

[code]

Instead the function only accepts a single string argument.

There are obviously backwards-compatibility issues to worry about here. Perhaps we should export a `pluralize` function from `ember-inflector/lib/helpers/pluralize` that behaves like the helper (and s

[2017-05-30 17:20] stefanpenner commented on #122
@lukemelia it may not be compatibility issue, as we would detect the arity and give the right behavior (or am I missing something)?

[2017-05-30 18:42] lukemelia commented on #122
@stefanpenner that should work. I'll put this on my list. 👍

[2017-07-11 09:13] Turbo87 opened #125 "Deprecate Ember.String monkey patching and globals API"
`Ember.String.singularize()` and `Ember.String.pluralize()`will not be supported in https://github.com/ember-cli/ember-rfc176-data and should be used by importing them from `ember-inflector`. We should retire the globals APIs in this project and move towards just using explicit imports to make tree shaking easier.

/cc @locks @rwjblue @cibernox

[2017-07-13 23:57] stefanpenner commented on #125
👍

[2017-08-21 17:41] mickael-palma-argus opened #134 "Strange behavior"
Hi,

I try something very basic :
[code]

the rule does not apply, any tips ?

Thank you

[2017-10-13 10:12] arnaudbesnier opened #135 "Child/Children are lowercased on singularize/pluralize."
[code]

Using version 2.0.1.

[2017-10-13 10:34] arnaudbesnier commented on #135
Why is it lowercased here: https://github.com/emberjs/ember-inflector/blob/master/addon/lib/system/inflector.js#L183?

[2017-10-13 10:35] fsmanuel commented on #135
@arnaudbesnier the thing with `child` is that it's an [irregular](https://github.com/emberjs/ember-inflector/blob/master/addon/lib/system/inflections.js#L59) and it's registered lowercase. The regular rules aren't registered but use regex to replace or add the singular/plural form.

[2017-10-13 11:45] arnaudbesnier commented on #135
@fsmanuel thanks for your response, that what I discovered about `child`.
Do we agree that this is a bug? I probably don't know all the constraints.

Not sure to understand how to bypass this issue.
Can you share an example of code I should add to have the expected behaviour?

[2017-10-13 15:46] fsmanuel commented on #135
@arnaudbesnier looking at the [implementation](https://github.com/emberjs/ember-inflector/blob/master/addon/lib/system/inflector.js#L277-L280) I think it is a bug. I think it needs further investigation what's the source of it.

[2017-10-16 15:01] btecu commented on #122
This would be very useful.

Seems like #124 would make `{{pluralize ...}}` and `pluralize(...)` work in a similar way.

Any issues for not merging?

[2017-11-20 01:21] locks commented on #125
I think this is closed by #131?

[2017-11-20 06:40] #125 closed

[2017-11-24 16:06] sandstrom commented on #99
This issue can be closed

[2017-11-24 16:08] sandstrom commented on #109
@Koka Is this an inconsistency between this repo and Rails inflector API?

If not, then it's better to use the API to make your own adjustments. The goal of this project is to provide a base-set that mirrors Rails inflector API.

[2017-12-08 01:26] #99 closed

[2018-03-27 17:09] #122 closed

[2018-03-27 17:11] stefanpenner commented on #122
released as v2.2.0 🎉

[2018-04-11 16:21] paulcwatts opened #142 "Failure in ember addon with 3.2.0-beta.1"
This is using ember-cli==3.1.0, ember-source==3.1.0:

[code]

The result is:
[code]

The actual error is located here:
[code]

[2018-04-12 00:09] kiwiupover commented on #142
@paulcwatts did you find a work around?

[2018-04-12 01:59] paulcwatts commented on #142
@kiwiupover My "workaround" was to disable ember-beta and ember-canary in my ember try configuration. I don't know off-hand of any workaround, but if you can define `Ember.EXTEND_PROTOTYPES` it should be able to work.

[2018-04-20 15:41] #142 closed

[2018-04-23 16:36] pavlo opened #145 "Ember.ENV.EXTEND_PROTOTYPES - Cannot read property 'String' of undefined"
Hey, after a recent update to the app I am receiving the following error: `Cannot read property 'String' of undefined`. I traced it down to a condition in the inflector's `addon/lib/ext/string.js`:

    if (Ember.ENV.EXTEND_PROTOTYPES === true || Ember.ENV.EXTEND_PROTOTYPES.String) {
        ...
    }

My environment does not have `EXTEND_PROTOTYPES` in it. It has the following, literally:

    Em

[2018-04-30 05:18] jrjohnson opened #146 "Not able to define irregular, uncountable when imported directly"
I'm trying to replace my custom rules via direct import instead of through `Ember`.  I have an initializer with
[code]

Attempting to update to using the module directly I tried to do
[code]

But it results in `TypeError: _emberInflector.irregular`. Wondering if I'm just completely off base with my setup, or just missing something obvious? If someone can put me on the right path I will be happy to

[2018-04-30 20:55] eplewis89 opened #147 "DEPRECATION: ember-cli-babel 5.x has been deprecated. Please upgrade to at least ember-cli-babel 6.6. Version 5.2.8 located: ember-data -> ember-inflector -> ember-cli-babel"

[2018-04-30 23:57] stefanpenner commented on #147
thanks for the issue, should be fixed with v3.0.0 🎉

[2018-04-30 23:57] #147 closed

[2018-04-30 23:58] #53 closed

[2018-05-01 01:11] btecu commented on #146
Try

[code]

[2018-05-01 06:11] jrjohnson commented on #146
Thanks @btecu. So obvious in hindsight, but I would never have figured it out!

[2018-05-01 06:11] #146 closed

[2018-05-01 16:33] GaltMidas commented on #145
Anybody find a workaround for this?

[2018-05-01 16:53] pavlo commented on #145
@GaltMidas, I had to set `2.2.0` version in `package.json` explicitly since the bug(?) was introduced in `2.3.0` I guess. So the following helped:

    "ember-inflector": "2.2.0"

Let me know if this helps you out.

[2018-05-11 07:35] GarPit commented on #145
The same issue for me

[2018-06-14 10:43] arparthasarathi opened #150 "Irregular option not working for the string 'information'"
Still facing the same issue as in #95

I am trying with an string 'information' and trying to pluralize the same. But the string doesn't get pluralized. Here is the [ember-twiddle](https://ember-twiddle.com/eb53471fb13143b9e49a4f9b0e44d80e?fileTreeShown=false&numColumns=2&openFiles=routes.application.js%2Cadapters.application.js) for reproducing the error.

[2018-07-01 22:23] samselikoff opened #151 "Possible to use in Node?"
I'm trying to use esm in my addon, so I'm converting over some stuff that previously relied on Ember to using npm packages.

Currently my addon uses

[code]

which works in the browser but not in node.

Is is possible to get at `singularize` and `pluralize` from Node?

[2018-07-18 13:04] Caltor opened #153 "Hoofs vs Hooves"
pluralize gives the plural of "hoof" as "hoofs". Shouldn't this be "hooves"?

[2018-08-28 20:33] papanugget commented on #142
@kiwiupover ' s answer was the only fix that helped me with my Ember quiz.  Inserting ember-inflector into the devDependencies object of package.json did nothing for me.  Thanks!

[2018-09-06 14:09] rwjblue opened #155 "Update CHANGELOG to include 3.0 changes, and add pending changes for 4.0"

[2018-09-19 12:18] giano commented on #134
sam

[2019-01-10 19:16] CodyEngel commented on #67
Just wanted to drop in and say `metum` is not a word: http://www.scrabblewordsolver.com//word-checker/metum/

I guess this is just matching Rails so I'll go yell in that direction but wanted to voice my opinion.

[2019-03-25 04:13] timjcook opened #176 "Update pluralize type definition to account for count and options arguments"
**Issue:**
Currently the `pluralize` type definition only handles the case where a single argument is passed to the helper. As of [this addition](https://github.com/emberjs/ember-inflector/commit/0e50b8a093cc5fe0d0ad8ab4dbe9355ad13de84a#diff-bbc138342ad94d49ed7fa53b3ba4d27d) we can now pass in a count to inform the method what it should base it's choice to pluralize on, and an options hash that co

[2019-03-25 04:14] timjcook commented on #176
Happy to PR that if it seems reasonable.

[2019-05-17 21:32] jenweber opened #182 "Bug - ember-inflector throws when included more than once in an app/addon"
If someone yarn links ember-inflector, they can end up with two copies running. `defineProperty` used in deprecations will throw because the prototype is already defined:

[code]

This can possibly be patched by passing `{ configurable: true }` when defining the prototype:

[code]

There is a merged PR removing these deprecations, but it's unreleased and it's a major breaking change: https://githu

[2019-06-19 12:45] lolmaus opened #186 ""octopi" is incorrect"
The `-us` ↔ `-i` forms come from Latin.

The word `octopus` is of Greek origin. It's Greek plural form is `octopodes`, but in English the word is commonly pluralized according to English rules: `octopuses`.

Since so many people fall for this error, some dictionaries mark `octopi` as a possible pluralization. Nevertheless, we should not support this common mistake.

Both the logic and the readme n

[2019-06-19 14:30] stefanpenner commented on #186
This library aims to be compatible with ruby’s Active-support. So if they have this, we can also change.

[2019-06-19 14:53] lolmaus commented on #186
Well, ActiveSupport has a documentation example that suggests adding `octopi` as an override: https://github.com/rails/rails/blob/b9ca94caea2ca6a6cc09abaffaad67b447134079/activesupport/lib/active_support/inflector/inflections.rb#L22

[2019-06-19 14:56] stefanpenner commented on #186
Then I suspect we should leave it as is.

That being said, I’m totally not apposed to a secondary language pack / config option, that has a more actively maintained language list

[2019-06-19 14:57] stefanpenner commented on #186
the library was Built with this in mind.

[2019-06-19 14:57] lolmaus commented on #186
On the other hand, it has [this](https://github.com/rails/rails/blob/v6.0.0.rc1/activesupport/lib/active_support/core_ext/string/inflections.rb#L24).

[2019-06-19 15:19] stefanpenner commented on #186
@lolmaus I just check, it does support octopus -> octopi:

[code]

[2019-06-19 18:16] wifelette commented on #186
@lolmaus Thanks for taking the time to care about the little details like this! From one fellow grammar nerd to another, much appreciated <3

[2019-11-25 04:17] richard-viney commented on #155
Related to this, the String prototype extensions in this add-on were deprecated and expected to be removed in 3.0.0, but are actually still present. There's since been a branch merged to get rid of them, could this be released as 3.0.2?

Upgrading from Ember 3.12 to 3.14 I've started seeing the above deprecation warnings being thrown even though no code is actually using the methods. This is due t

[2019-12-17 06:25] dmzza opened #234 "Upgrade to Ember 3.14 and drop support for Node 8"
It sounds like there is a plan to release a version 4.0 in #155. Does that include running `ember-cli-update --to latest`?

Also, since Node 8 is reaching end-of-life on December 31, 2019, it seems like a good time to drop support for that too, which would be a breaking change requiring a major version bump anyway.

If nobody else was planning to do this, I'm happy to submit a PR.

[2019-12-21 03:13] rwjblue commented on #234
Seems good to me

[2020-03-24 16:39] sandstrom commented on #155
We have this issue too.

Great if the "remove in 3.0.0" stuff could be removed and re-released as 3.0.2.

[2020-06-22 21:48] #155 closed

[2020-10-24 12:59] gnclmorais commented on #234
Support for Node 8 was dropped at https://github.com/emberjs/ember-inflector/pull/299, I believe. 🎊

[2020-10-24 15:02] #234 closed

[2020-10-26 19:04] gnclmorais commented on #176
Related: https://github.com/emberjs/ember-inflector/pull/298

[2020-10-27 09:18] Caltor commented on #153
Well I never knew that!

[2020-10-27 09:18] #153 closed

[2020-12-03 17:00] #182 closed

[2020-12-03 17:00] #39 closed

[2020-12-03 17:00] #40 closed

[2020-12-03 17:02] #92 closed

[2020-12-03 17:02] #93 closed

[2020-12-03 21:10] stefanpenner opened #316 "NPM Issue when attempting to published 4.0.0"
[code]

May be an NPM issue, will investigate later.

[2020-12-03 21:28] sandstrom commented on #145
@pavlo Can you try with 4.0.0 (https://github.com/emberjs/ember-inflector/blob/master/CHANGELOG.md). I'm pretty sure this is no longer an issue.

[2020-12-03 21:40] sandstrom commented on #316
@stefanpenner You've probably tried already, but it may work if you do `npm login` before `npm publish`.

I read about someone having that issue:
https://github.com/npm/cli/issues/1637#issuecomment-678030871

[2020-12-03 21:41] sandstrom commented on #113
I'm doing some issue gardening 🌱🌿 🌷 and came upon this issue. Since it's quite old, would you mind checking if this is still an issue with the latest version? If it isn't, maybe we can close this issue?

By closing some old issues we reduce the list of open issues to a more manageable set.

With 4.0.0 you should be able to do `import { pluralize } from 'ember-inflector'`

[2020-12-03 21:42] sandstrom commented on #110
Is this an inconsistency between this repo and Rails inflector API?

If not, then it's better to use the API to make your own adjustments. The goal of this project is to provide a base-set that mirrors Rails inflector API.

[2020-12-03 21:43] sandstrom commented on #119
I'm doing some issue gardening 🌱🌿 🌷 and came upon this issue. Since it's quite old, would you mind checking if this is still an issue with the latest version? If it isn't, maybe we can close this issue?

By closing some old issues we reduce the list of open issues to a more manageable set.

[2020-12-03 21:44] sandstrom commented on #150
Is this an inconsistency between this repo and Rails inflector API?

If not, then it's better to use the API to make your own adjustments. The goal of this project is to provide a base-set that mirrors Rails inflector API.

[2020-12-06 13:49] locks commented on #316
According to tweets this was the problem. Closing!

[2020-12-06 13:49] #316 closed

[2020-12-06 16:00] sandstrom commented on #316
thanks @locks

[2021-02-02 10:57] yatsura opened #334 "Plural of specimen"
I'm having an issue with getting the inflector to accept that the plural of specimen as specimens.

Using:
[code]
Is not working for me, it still reports back specimen.

[code]
However, if I change specimens to mens

[code]
[code]
I believe this is to do with specimens being treated as a compound noun.

In addition using, it as an irregular inflection works in Rails.

[2021-03-07 21:43] ef4 opened #342 "Latest release not merged to master"
The tagged commit for 4.0.1 is not on the master branch here.

[2021-04-02 10:16] bekzod commented on #134
https://www.learnersdictionary.com/qa/equipments-equipment-noncount-mass-noun-singular-plural#:~:text=The%20noun%20equipment%20does%20not,is%20no%20word%20%22equipments.%22&text=Below%20are%2010%20other%20common%20noncount%20nouns%2C%20shown%20in%20typical%20contexts.

[2021-04-12 21:05] #134 closed

[2021-04-21 02:28] timiyay opened #347 "@ember/string is not a dependency"
This package imports `@ember/string`, but doesn't list it in its `package.json`:
https://github.com/emberjs/ember-inflector/blob/06d0d8b038878060ed1139afade8b0418366917f/addon/lib/system/inflector.js#L1

I'm investigating an issue with a Yarn workspaces monorepo we have for our Ember addons, and opened this issue to try and clarify whether `@ember/string` is expected to be available some other way

[2021-04-21 02:29] timiyay commented on #347
I'm still investigating exactly what's causing our issues, it may be a combination of issues related to Yarn workspaces hoisting, and the fact that `ember-data@3.24` adds `@ember/string` as a dependency.

[2021-05-04 00:38] timjcook commented on #176
fixed in https://github.com/emberjs/ember-inflector/pull/298

[2021-05-04 00:38] #176 closed

[2021-06-13 07:05] oskarrough commented on #151
For anyone ending up here, and without comparing the two modules further, take a look at https://github.com/martinandert/inflected, which works directly in browser and node.

[2022-08-23 15:42] EWhite613 commented on #347
@timiyay did you ever figure this out? I have a similar issue with my Yarn workspace

[2022-08-24 01:14] timiyay commented on #347
@EWhite613 we did, though I'm struggling to find the history of how we did it. We have some notes, but I'm not sure they were the final fix. I'll add them here anyway, in case it helps.

The trigger for our problems was upgrading `ember-data` from `3.20` to `3.24` in our Ember addons. This seemed to be enough to cause builds to fail with `Uncaught Error: Could not find module @ember/string importe